In [36]:
import pandas as pd

data = pd.read_csv('50_states.csv', index_col=False)
answer = input('estado: ')

state = data[data['state'] == answer.capitalize()]
x = int(state['x'])
y = int(state['y'])

             state    x    y
0          Alabama  139  -77
1           Alaska -204 -170
2          Arizona -203  -40
3         Arkansas   57  -53
4       California -297   13
5         Colorado -112   20
6      Connecticut  297   96
7         Delaware  275   42
8          Florida  220 -145
9          Georgia  182  -75
10          Hawaii -317 -143
11           Idaho -216  122
12        Illinois   95   37
13         Indiana  133   39
14            Iowa   38   65
15          Kansas  -17    5
16        Kentucky  149    1
17       Louisiana   59 -114
18           Maine  319  164
19        Maryland  288   27
20   Massachusetts  312  112
21        Michigan  148  101
22       Minnesota   23  135
23     Mississippi   94  -78
24        Missouri   49    6
25         Montana -141  150
26        Nebraska  -61   66
27          Nevada -257   56
28   New Hampshire  302  127
29      New Jersey  282   65
30      New Mexico -128  -43
31        New York  236  104
32  North Carolina  239  -22
33    North Dakota  -44  158
34            Ohio  176   52
35        Oklahoma   -8  -41
36          Oregon -278  138
37    Pennsylvania  238   72
38    Rhode Island  318   94
39  South Carolina  218  -51
40    South Dakota  -44  109
41       Tennessee  131  -34
42           Texas  -38 -106
43            Utah -189   34
44         Vermont  282  154
45        Virginia  234   12
46      Washington -257  193
47   West Virginia  200   20
48       Wisconsin   83  113
49         Wyoming -134   90