In [1]:
import pandas as pd

data= pd.read_csv('weather_data.csv')
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [2]:
data_dict = data.to_dict()
print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [3]:
data_list = data['temp'].to_list()
print(data_list)

[12, 14, 15, 14, 21, 22, 24]

In [4]:
data['temp'].mean()

17.428571428571427

In [5]:
data['temp'].max()

24

In [14]:
# obtener data en columnas
data['condition']
data.condition

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [17]:
# obtener data en filas
data[data.condition == 'Sunny']
data[data.temp == data.temp.max()]

      day  temp condition
6  Sunday    24     Sunny

In [24]:
farenheit = data['temp']*9/5 + 32 
data['temp F'] = farenheit
data

         day  temp condition  temp F
0     Monday    12     Sunny    53.6
1    Tuesday    14      Rain    57.2
2  Wednesday    15      Rain    59.0
3   Thursday    14    Cloudy    57.2
4     Friday    21     Sunny    69.8
5   Saturday    22     Sunny    71.6
6     Sunday    24     Sunny    75.2

In [27]:
# crear un dataframe desde 0
data_dict = {
    'students':['Amy', 'James', 'Angela'],
    'scores':[79, 56, 43]
}
data = pd.DataFrame(data_dict)
data.to_csv('new_data.csv')